/* font */

@font-face {
    font-family: "Exo2";
    src: url('fonts/exo-2/Exo2-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    line-height: 24px;
    padding: 0;
    font-family: "Exo2", sans-serif;  /* sans-serif - это шрифт по умолчанию, если Exo2 не загрузился.
    Браузер использует свой шрифт по умолчанию*/
}
@page {
    /*@page — это директива, которая задает параметры для оформления страницы при печати документа*/
    /* В отличие от @media print, @page влияет на физическое оформление страницы, а не на содержание. */
    size: A4;
}
/*для менюшки перед cv*/
@media print {
    /* @media print - медиа-запрос, который применяется к стилям страницы только при печати.
    Используется для изменения элементов на странице (например, скрытие рекламных блоков,
    изменение шрифта, изменение цветов и т. д.)*/
    .no-print {
        display: none !important;
    }
    /* disable href in <a> tag */
    a {
        text-decoration: none;
        color: inherit;
    }
}


.menu {
    padding-bottom: 5px;
    margin: 5px;
}

.black-divider {
    display: block;
    background-color: black;
    height: 2px;
}

.page {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    background: white;
}

.highlightBar {
    width: 10mm;
}
.highlightMaker {
    /*width: 100%;*/
    height: 25mm;
    background-color: hsl(192, 50%, 51%);
    box-sizing: border-box;
    border: 1px solid black;
}

/* content style*/
.content {
    width: auto
}
.cv-header-content-first {
    display: grid;
    grid-template-columns: auto 105mm;
}
.cv-header-content-first-left {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}
.cv-header-fio {
    padding-left: 1px;
    padding-bottom: 12px;
    font-weight: 600
}
.cv-header-current-position {
    padding-left: 1px;
    font-weight: normal;
}

.cv-header-content-first-right {
    display: flex;
    flex-direction: column;
}
.link-to-connect {
    text-align: right;
    padding-right: 5px;
    margin: 1px;
}
.img-to-connect {
    width: 5mm;
    height: 5mm;
    margin: 3px;
}
.way-to-connect-item {
    display: grid;
    grid-template-columns: auto 7mm; /* .img-to-connect.width and .way-to-connect-item.grid-template-columns must to equal */
}

.about-yourself-letter {
    padding-top: 18px;
    padding-left: 1px;
    white-space: pre-line;  /* save working of /n (new line) */
}



.section-layout {
    display: grid;
    grid-template-columns: 12mm auto;    /* .page.grid-template-columns и .highlightBar.width должны быть одинаковыми*/
}


/* для каждой секции*/
.cv-header-section {
    width: 100%;
    height: 73mm;  /* todo предположительно*/
}
.education-projects-languages-section {
    width: 100%;
    height: 62mm;  /* todo предположительно*/
}
.education-projects-languages-content {
    padding: 5px;
    display: grid;
    grid-template-columns: 55mm auto 54mm;
    margin-top: 15px;
}
.cv-header-education {
}

.cv-header-education-title {
    margin-bottom: 10px;
}

.cv-header-education-content {

}

.education-university-name {
    margin-bottom: 9px;
}

.education-university-specialization-name {


}


.cv-header-projects {

}
.cv-header-projects-title {
    display: grid;
    grid-template-columns: 52mm auto;
    margin-bottom: 10px;
}
.cv-header-projects-title-right {
    text-align: center;
}
.cv-header-projects-content {
    list-style: none;
}
.cv-header-projects-item {
    display: flex;
    align-items: flex-start;
    gap: 6px; /* The indentation between the marker and the text */
    margin-top: 6px;
    margin-bottom: 12px;
}
li.cv-header-projects-item::before {
    content: "•";
    font-size: 1.4em; /* marker size */
}
.cv-header-project-name {
    width: 58mm;
    line-height: 20px;

}

.cv-header-project-rpc {
    width: 10mm;
    text-align: center;
}
.cv-header-languages {

}
.cv-header-languages-title {
    margin-bottom: 10px;
}
.cv-header-languages-content {
    list-style: none;
}
.cv-header-languages-item {
    display: flex;
    align-items: flex-start;
    gap: 6px; /* The indentation between the marker and the text */
    margin-top: 6px;
    margin-bottom: 12px;
}
li.cv-header-languages-item::before {
    content: "•";
    font-size: 1.4em; /* marker size */
}


.professional-activity-header-section {
    width: 100%;
    height: 20mm; /*todo*/
}

.professional-activity-section {
    width: 100%;
    height: 87mm;  /* todo предположительно*/
}

.professional-activity-content {
    display: flex;
    flex-direction: column;
}
#id-professional-activity-title {
    margin-bottom: 20px;
}
.professional-activity-item {
    margin: 1px;
}
.professional-activity-tech-item {
    display: flex;
    margin-top: 5px;
}
.professional-activity-tech-item h3 {
    margin-right: 10px;
}
.work-experience-title-section {
}

